body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #121212;
  color: #f0f0f0;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid > h1:first-child {
  animation: fadeIn 3s;
}

.grid > :not(:first-child) {
  animation: delayFadeIn 4s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to   {opacity: 1;}
}

@keyframes delayFadeIn {
  0% {opacity: 0;}
  40% {opacity: 0;}
  100% {opacity: 1;}
}

h1 {
  font-size: 4em;
}

h2 {
 font-size: 2.5em;
}

.title {
  font-size: 4.5rem !important;
}

p {
  font-size: 1.5rem;
  line-height: 110%;
}

.mainHeading {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  color: #FA6765;
  grid-column-start: 1;
  grid-column-end: 4;
}

.top {
  padding-top: 20px;
}

.newRow {
  padding-top: 60px;
}

.newRow img {
  padding-top: 40px;
}

.newSection {
  padding-top: 150px;
}

.subHeading {
  font-family: 'DM Serif Display', serif;
  font-weight: 300;
  margin-bottom: 0px;
}

.fullRow {
  grid-column-start: 1;
  grid-column-end: 5;
}

.left {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-right: 20px;
}

.right {
  grid-column-start: 3;
  grid-column-end: 5;
  padding-left: 20px;
}

.center {
  grid-column-start: 2;
  grid-column-end: 4;
}

.twoRows{
  grid-row: span 2;
}

.title {
  grid-column-start: 1;
  grid-column-end: 5;
  padding-top: 0;
  margin-top: 0;
}

.pump {
  position: absolute;
  top: 3250px;
  max-width: 1400px;
  z-index: -100;
}

.right-far {
  padding-left: 120px !important;
}

.creating-section {
  padding-top: 200px;
}

.early-patient {
  padding-top: 205px;
}

.paradigm {
  padding-top: 280px;
  padding-left: 120px !important;
}

.minimed-g {
  padding-right: 80px !important;
}

.minimed-p {
  padding-top: 200px;
}

.tandem-p {
  padding-top: 250px;
}

.tandem-img {
  padding-top: 320px;
  padding-left: 40px;
}

.text-center {
  text-align: center;
}

.bottom-link {
  padding-top: 220px;
}

.bottom-link a {
  text-decoration: none;
  color: #FA6765 !important;
}

.bottom-link a:hover {
  color: #2BAE66 !important;
}

.d-none {
  display: none !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 14000px;
  background-color: #121212;
}